## 1. Database Preprocessing
For data preprocessing, Pandas and Sqlite3 are used to extract data from sql files and perform data preprocessing including dealing with missing values etc.

In [1]:
import os
import pandas as pd
import sqlite3

def select_return_table(table_name):
    # Select from all records and convert to pandas dataframe
    data = curs.execute('SELECT * FROM %s' % table_name).fetchall()
    column = [element[1] for element in curs.execute('PRAGMA table_info(%s)' % table_name).fetchall()]
    return pd.DataFrame(data, columns=column)

def get_missing_value_perc(df, cond=lambda x: x == 'null'):
    # Check missing value and output percentage
    df_sum = df.applymap(cond).sum()
    df_percentage = df.applymap(cond).sum() / df.applymap(lambda data: data == 'null').count()
    df_percentage = df_percentage.apply(lambda x: '{0:.2f}%'.format(x * 100))
    return pd.concat([df_sum, df_percentage], axis=1, keys=['Missing Value', 'Missing Value (%)'])

## 1.1 Database Connection
Five tables were created during the crawling stage, containing information about race, horse, individual past result (of trainer, jockey, breeder and owner), trainer and jockey profiles. Those sql files can be easily transformed into Pandas dataframe for further processing.

In [2]:
# Establish database connection and check table name
conn = sqlite3.connect(os.path.abspath(os.path.join(os.path.dirname(os.getcwd()), 'crawler\\data\\race.db')))
curs = conn.cursor()
table_name = curs.execute('SELECT name FROM sqlite_master WHERE type="table"').fetchall()
print(table_name)

[('race_record',), ('horse_record',), ('individual_record',), ('trainer_profile',), ('jockey_profile',)]

In [3]:
# Read from record data
record_dict = {name[0]: select_return_table(name[0]) for name in table_name}
race_df = record_dict['race_record']
horse_df = record_dict['horse_record']
individual_df = record_dict['individual_record']
trainer_df = record_dict['trainer_profile']
jockey_df = record_dict['jockey_profile']

## 1.2 Integrity Check
This step is to check the integrity of the crawled data and confirm that there is little inconsistency with the actual data presented online as well as some basic rules for national horse racing events in Japan (e.g. there should be 12 races for one place). More details are in <a href='http://www.jra.go.jp/'> JRA (Japan Racing Association) webpage</a>.

In [4]:
# Check the availability of data for each type of individual
unique_list = {
    'horse': race_df['horse'].unique(), 
    'trainer': race_df['trainer'].unique(), 'jockey': race_df['jockey'].unique(),
    'owner': race_df['owner'].unique(), 'breeder': horse_df['breeder'].unique()   
}
print('Horse: ' + '{:1.2f}'.format(len(horse_df['horse_name'].unique()) / len(unique_list['horse'])))
print('Trainer: ' + '{:1.2f}'.format(len(trainer_df['trainer_name'].unique()) / len(unique_list['trainer'])))
print('Jockey: ' + '{:1.2f}'.format(len(jockey_df['jockey_name'].unique()) / len(unique_list['jockey'])))

Horse: 0.66
Trainer: 0.35
Jockey: 0.33

### 1.2.1 Race Record
The following shows the attributes in race record table as well as some basic statistics. Grouping race records by run data, place and race number yields the total numebr of race happening in one place on a certain date.

In [5]:
# Snapshot of tha race_record dataframe
print(race_df.shape)
race_df.describe().T

(863877, 27)

                     count unique              top    freq
run_date            863877   1844       2009-03-21     575
place               863877     10               東京  126617
race                863877     12              12R   74786
title               863877   2264            3歳未勝利  215445
type                863877      3                ダ  418060
track               863877      4                右  561623
distance            863877     80            1200m  183649
weather             863877      6                晴  538975
condition           863877      4                良  644183
time                863877    123            10:30   19683
finishing_position  863877     42                1   60662
bracket             863877      8                8  125157
horse_number        863877     18                3   60598
horse               863877  85676        ハートランドヒリュ     105
sex_age             863877     35               牡3  200225
jockey_weight       863877     31               54  211723
jockey              863877    811              幸英明   15383
run_time            863877   2299                     7682
margin              863877    135               クビ  149984
corner_position     863877  14906              2-2   32793
run_time_last_600   863877    329             36.2   14832
win_odds            863877   7073              3.5    3747
win_fav             863877     19                4   60601
horse_weight        863877   5264           470(0)    5879
trainer             863877   1041          [東]和田正道    6407
owner               863877   4271  サラブレッドクラブ・ラフィアン   18783
prize               863877   6674                   560733

The following proves that it is thus true that around 12 races are held for a single place for national racing events in Japan. A sample of 10 racing events are shown below.

In [6]:
# Ensure that (almost) all races on the same day at the same place have a count of 12
race_count = curs.execute('SELECT DISTINCT run_date, place, race from race_record').fetchall()
race_count_df = pd.DataFrame(race_count, columns=['run_date', 'place', 'race'])
race_count_df.groupby(['run_date', 'place']).count().sample(n=10)

                  race
run_date   place
2016-05-22 新潟       12
2016-10-23 東京       12
2017-10-21 京都       12
2017-01-07 中山       12
2011-10-23 新潟       12
2004-10-17 京都       12
2005-03-06 阪神       12
2014-10-18 京都       12
2005-08-06 新潟       12
2010-12-12 中山       12

### 1.2.2 Horse Record
Similar check is done for horse record.

In [7]:
# Check the data columns
horse_df.sample(n=3)

,horse_name,date_of_birth,trainer,owner,breeder,place_of_birth,transaction_price,prize_obtained,race_record,highlight_race,relatives,parents,status,gender,breed,offer_info
17106,ホクテンキュピット,2002年5月12日,谷潔 (栗東),平井裕,駿河牧場,浦河町,-,"1,420万円 (中央) /6万円 (地方)",23戦1勝 [ 1-0-3-19 ],05'3歳未勝利,アドバンスシチー 、 ツルマルケン,ヘネシー イヴニングライド,抹消,セ,栗毛,null
19797,ワンダーリディア,2003年3月4日,南井克巳 (栗東),田中八郎,服部牧場,静内町,"3,045万円 (2004年 北海道セレクションセール)","1,120万円 (中央)",13戦1勝 [ 1-2-0-10 ],06'3歳未勝利,ダイワフォーチュン 、 ロックハンドスター,タイキシャトル コンティンジェンシー,抹消,牡,鹿毛,null
37880,ディアーフォンテン,2009年5月22日,坂口義幸 (愛知),豊原純弥,つつみ牧場,新冠町,-,"3,325万円 (中央) /1万円 (地方)",37戦2勝 [ 2-5-1-29 ],15'4歳上500万下,アイアイスピーチ 、 アイアイハッピー,ゴールドヘイロー アイアイプリンセス,,牡,黒鹿毛,null

In [8]:
# Snapshot of tha race_record dataframe
print(horse_df.shape)
horse_df.describe().T

(56226, 16)

                   count unique                 top   freq
horse_name         56226  56226            マイミーティング      1
date_of_birth      56226   3628          2014年4月30日     52
trainer            56226   1740                (地方)    345
owner              56226   5575           サンデーレーシング    826
breeder            56226   3400            ノーザンファーム   3195
place_of_birth     56226     99                 浦河町  10510
transaction_price  56226   6130                   -  43830
prize_obtained     56226  22408                 0万円   8734
race_record        56226  16748    2戦0勝 [ 0-0-0-2 ]   2109
highlight_race     56226  11528                      18813
relatives          56226  36747                       1836
parents            56226  52182  テイエムオペラオー テイエムシーズン      8
status             56226      3                  抹消  36109
gender             56226     40                   牡  25852
breed              56226      9                  鹿毛  25642
offer_info         56226    365                null  51714

### 1.2.3 Individual Record
Similar check is done for individual record. It provides yearly consolidated results from each individual related to horse racing events.

In [9]:
# Check the data columns
individual_df.sample(n=3)

,individual_type,name,year,rank,first,second,third,out,races_major,wins_major,...,wins_flat,races_grass,wins_grass,races_dirt,wins_dirt,wins_percent,wins_percent_2nd,wins_percent_3rd,prize_obtained,representative_horse
40928,馬主,磯野俊雄,1990,736,2,0,0,6,0,0,...,2,4,1,5,1,.222,.222,.222,"1,463.0",フォースタテヤマ
46324,馬主,宮川秋信,1995,1406,0,0,0,1,0,0,...,0,0,0,1,0,.000,.000,.000,0.0,ハギノオーヒメ
43186,馬主,近藤利一,2007,1111,0,0,0,2,0,0,...,0,1,0,1,0,.000,.000,.000,0.0,ダンシングキング

In [10]:
# Snapshot of tha race_record dataframe
print(individual_df.shape)
individual_df.describe().T

(77703, 23)

                      count unique   top   freq
individual_type       77703      4   生産者  47286
name                  77703   6664  田口大二     34
year                  77703     34    累計   6663
rank                  77703   1487         6663
first                 77703    428     0  31257
second                77703    425     0  33025
third                 77703    418     0  31914
out                   77703   1371     1   5682
races_major           77703    306     0  51219
wins_major            77703     72     0  71358
races_special         77703    737     0  22271
wins_special          77703    186     0  54986
races_flat            77703   1347     1   5082
wins_flat             77703    352     0  34348
races_grass           77703   1101     0   9622
wins_grass            77703    283     0  46128
races_dirt            77703   1055     0   9416
wins_dirt             77703    278     0  42536
wins_percent          77703    311  .000  31257
wins_percent_2nd      77703    480  .000  24321
wins_percent_3rd      77703    584  .000  20005
prize_obtained        77703  32975   0.0  13977
representative_horse  77703  35608         6703

### 1.2.4 Trainer Profile
Similar check is done for trainer profiles. It lists personal information for a certain trainer.

In [11]:
# Check the data columns
trainer_df.sample(n=3)

,trainer_name,date_of_birth,place_of_birth,first_run_date,first_run_horse,first_win_date,first_win_horse
280,[西]湯窪幸雄,1951/09/25,null,null,null,null,null
75,[西]松田国英,1939/10/03,京都府,1976/07/03,イチモンジ,1976/11/06,シゲパワー
165,[地]南輝幸,1938/12/28,null,null,null,null,null

In [12]:
# Snapshot of tha race_record dataframe
print(trainer_df.shape)
trainer_df.describe().T

(368, 7)

                count unique         top freq
trainer_name      368    368     [東]畠山吉宏    1
date_of_birth     368    362  1930/06/05    2
place_of_birth    368     29        null  239
first_run_date    368     99        null  239
first_run_horse   368    129        null  240
first_win_date    368    123        null  240
first_win_horse   368    129        null  240

### 1.2.5 Jockey Profile
Similar check is done for jockey profiles. It lists personal information for a certain jockey.

In [13]:
# Check the data columns
jockey_df.sample(n=3)

,jockey_name,date_of_birth,place_of_birth,blood_type,height,weight,first_flat_run_date,first_flat_run_horse,first_flat_win_date,first_flat_win_horse,first_obs_run_date,first_obs_run_horse,first_obs_win_date,first_obs_win_horse
200,上野翔,1983/06/04,null,null,null,null,2004/07/18,クインソナタ,null,null,null,null,null,null
165,金折知則,1975/02/09,null,null,null,null,2001/12/09,エムジンホーラン,null,null,null,null,null,null
63,佐藤哲三,1980/11/03,大阪府,B型,163cm,47kg,1999/03/06,ヤマカツロバリー,1999/06/12,エアウィンスレット,2000/01/09,イセノダイチ,2000/01/29,マキシマムプレイズ

In [14]:
# Snapshot of tha race_record dataframe
print(jockey_df.shape)
jockey_df.describe().T

(269, 14)

                     count unique         top freq
jockey_name            269    269        小野次郎    1
date_of_birth          269    266  1974/03/19    2
place_of_birth         269     30        null  158
blood_type             269      5        null  160
height                 269     20        null  158
weight                 269     15        null  158
first_flat_run_date    269    164        null   19
first_flat_run_horse   269    251        null   19
first_flat_win_date    269    181        null   79
first_flat_win_horse   269    190        null   79
first_obs_run_date     269     68        null  197
first_obs_run_horse    269     72        null  198
first_obs_win_date     269     40        null  230
first_obs_win_horse    269     44        null  226

## 1.3 Preprocessing
The following shows further preprocessing of the dataset. Predominantly it resolves around dealing with missing values within each columns. As majority of the columns contain no missing values and some of them having over 90% of missing values or below 1%, simple dropping is performed for these columns.

### 1.3.1 Race Record

As the percentage of missing value for the latter columns is trivial in this case, it can be safely dropped without affecting the entire dataset.

In [15]:
# Check missing value
get_missing_value_perc(race_df)

                    Missing Value Missing Value (%)
run_date                        0             0.00%
place                           0             0.00%
race                            0             0.00%
title                           0             0.00%
type                            0             0.00%
track                           0             0.00%
distance                        0             0.00%
weather                         0             0.00%
condition                       0             0.00%
time                            0             0.00%
finishing_position              0             0.00%
bracket                         0             0.00%
horse_number                    0             0.00%
horse                           0             0.00%
sex_age                         0             0.00%
jockey_weight                   0             0.00%
jockey                          0             0.00%
run_time                        0             0.00%
margin                          0             0.00%
corner_position                 0             0.00%
run_time_last_600               0             0.00%
win_odds                        0             0.00%
win_fav                         0             0.00%
horse_weight                    0             0.00%
trainer                         0             0.00%
owner                           0             0.00%
prize                           0             0.00%

In [16]:
race_df = race_df.loc[(race_df.applymap(lambda x: x == 'null').sum(axis=1) == 0) & (race_df['run_time'] != ''), :]

### 1.3.2 Horse Record

The last column named 'offer_info' can simply be dropped from the dataset as it has 98.39% of missing values.

In [17]:
# Check missing value
get_missing_value_perc(horse_df)

                   Missing Value Missing Value (%)
horse_name                     0             0.00%
date_of_birth                  0             0.00%
trainer                        0             0.00%
owner                          0             0.00%
breeder                        0             0.00%
place_of_birth                 0             0.00%
transaction_price              0             0.00%
prize_obtained                 0             0.00%
race_record                    0             0.00%
highlight_race                 0             0.00%
relatives                      0             0.00%
parents                        0             0.00%
status                         0             0.00%
gender                         0             0.00%
breed                          0             0.00%
offer_info                 51714            91.98%

In [18]:
horse_df = horse_df.drop('offer_info', axis=1)

### 1.3.3 Individual Record

As individual records with missing value are all tied to solely one person, it could be simply dropped from the table.

In [19]:
# Check missing value
get_missing_value_perc(individual_df)

                      Missing Value Missing Value (%)
individual_type                   0             0.00%
name                              0             0.00%
year                              0             0.00%
rank                              0             0.00%
first                             0             0.00%
second                            0             0.00%
third                             0             0.00%
out                               0             0.00%
races_major                       0             0.00%
wins_major                        0             0.00%
races_special                     0             0.00%
wins_special                      0             0.00%
races_flat                        0             0.00%
wins_flat                         0             0.00%
races_grass                       0             0.00%
wins_grass                        0             0.00%
races_dirt                        0             0.00%
wins_dirt                         0             0.00%
wins_percent                      0             0.00%
wins_percent_2nd                  0             0.00%
wins_percent_3rd                  0             0.00%
prize_obtained                    0             0.00%
representative_horse              0             0.00%

In [20]:
individual_df.loc[individual_df.applymap(lambda x: x == 'null').sum(axis=1) > 0]['name'].value_counts(ascending=False)[:5]

Series([], Name: name, dtype: int64)

In [21]:
individual_df = individual_df.loc[individual_df.applymap(lambda x: x == 'null').sum(axis=1) == 0, :]
individual_df = individual_df.loc[individual_df['year'] != u'累計']

### 1.3.4 Trainer & Jockey Profile

Regarding place of birth, it is assumed that trainer/jockey without such as record would be treated as from outside Tokyo. With regards with other attributes, some further feature engineering is believed to be executable instead of treating them as missing values tentatively. It is suggestible that attributes such as first run date can be derived from the race record table despite not being shown here.

In [22]:
# Check missing value
get_missing_value_perc(trainer_df)

                 Missing Value Missing Value (%)
trainer_name                 0             0.00%
date_of_birth                0             0.00%
place_of_birth             239            64.95%
first_run_date             239            64.95%
first_run_horse            240            65.22%
first_win_date             240            65.22%
first_win_horse            240            65.22%

In [23]:
# Check missing value
get_missing_value_perc(jockey_df)

                      Missing Value Missing Value (%)
jockey_name                       0             0.00%
date_of_birth                     0             0.00%
place_of_birth                  158            58.74%
blood_type                      160            59.48%
height                          158            58.74%
weight                          158            58.74%
first_flat_run_date              19             7.06%
first_flat_run_horse             19             7.06%
first_flat_win_date              79            29.37%
first_flat_win_horse             79            29.37%
first_obs_run_date              197            73.23%
first_obs_run_horse             198            73.61%
first_obs_win_date              230            85.50%
first_obs_win_horse             226            84.01%

In [24]:
trainer_df['place_of_birth'] = trainer_df['place_of_birth'].apply(lambda x: x if x != 'null' else u'地方')
jockey_df['place_of_birth'] = jockey_df['place_of_birth'].apply(lambda x: x if x != 'null' else u'地方')

Finally, we can output the dataframes as csv files for further analysis.

In [25]:
race_df.to_csv('data/race.csv', encoding='utf-8')
horse_df.to_csv('data/horse.csv', encoding='utf-8')
individual_df.to_csv('data/individual.csv', encoding='utf-8')
trainer_df.to_csv('data/trainer.csv', encoding='utf-8')
jockey_df.to_csv('data/jockey.csv', encoding='utf-8')